<h1>Hello, Rails!</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to "My Blog", controller: "posts" %>

<p>
The link_to method is one of Rails' built-in view helpers. 
It creates a hyperlink based on text to display and where to go - in this case, 
to the path for posts.
</p>

<%= link_to "New post", new_post_path %>

